////////////////////////////////
//          Article entry
//////////////////////////////////////
.index .article-intro
    padding:2em
    background-color: white
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.16);
.title
.article-title
    position relative
    margin-bottom 0
    font-size 2.2rem
    line-height 54px
    font-weight 700
    text-align: center
    font-family: Geneva, Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    >a
        font-size inherit
        color color-text
        no-link-effect()
        padding: 0
        font-weight bold

    

@media screen and (max-width:700px)
    .title
    .article-title
        font-size: 2rem;
        line-height: 2.33rem;
      
.brief
    position: relative

.detail
    font-size 0.7rem
    margin-bottom 0.3rem
    color color-gray
    time
        position relative
        display inline-block
        padding-right 5px 
    .tag-link
        color color-gray
        font-size  0.7rem
        no-link-effect()
        &:hover
            color color-blue
            text-decoration: underline

.readmore
    position: relative
    //overflow: hidden;
    display: inline-block
    color: color-text
    padding 1px 30px
    font-weight: 400
    border-radius: 40px
    border:1px solid color-text
    will-change: contents;
    transition-duration: .3s
    overflow: hidden
    no-link-effect()
    >.readmore__text
        position: relative
        display: inline-block
        transition-duration: .3s
    >.readmore__emotion
        position: absolute;
        left: 0;
        bottom:0
        content:""
        width: 100%;
        text-align: center
        transform: translateY(100%)
        transition-duration: .3s
    &:hover
        padding 1px 40px
        > .readmore__text
            //opacity: 0
            transform: translateY(-100%);
        > .readmore__emotion
            transform: translateY(0)
    
        



 .article-index 
    .title a
        &:hover
            &:after
                content "_"
                animation: blinkDash .8s infinite

.typewriter
    h1:after
        content "_"
        animation: blinkDash 1s infinite

@keyframes blinkDash{
    0%{
        opacity: 0
    }
    50%{
        opacity: 1
    }
    100%{
        opacity: 0
    }
}
    section 
        padding: 5px 0;
        margin-bottom: 4rem;

