////////////////////////////////////
//                Post
//////////////////////////////////////////
// .article-intro
//     .title a
//         font-size: 3rem;

// .article-intro
//     position: relative;// 

// .video-container 
//     position relative
//     padding-top 56.25%
//     height 0
//     overflow hidden
//     iframe 
//         position absolute
//         top 0
//         left 0
//         width 100%
//         height 100%
//         margin-top 0


///////////////////////////////
//          Article With No Cover
//////////////////////////////////////////

.title-no-img
    //position relative
    //padding-top 56.25%
    //height 0
    width: 100%;
    overflow: hidden
    box-sizing: border-box
    //background: url("/img/photography.png") repeat
    //@extends .material-shadow-inset-bottom;
    h1
        font-size: 4rem;
        margin: 0
        color: #636363;
        padding-top: 120px
        text-align: center
        font-suit-slogan()
        text-transform: uppercase;
    .detail
        background-color: #fafafa;;
        text-align: center
        margin-top: 20px
        margin-bottom:20px
        @extends .center-wrapper;
       




@media screen and (min-width:1400px)
    .title-no-img
        //background: url("/img/photography_@2X.png") repeat
       
@media screen and (max-width:700px)
    .title-no-img
        margin-bottom: 0;
        h1
            font-size: 2rem
            line-height: 1.3
            padding-top: 1rem
        .detail
            margin-bottom: 0;
///////////////////////////////
//          Article With Cover & Title's Style
//////////////////////////////////////////

.title-with-img
    position relative
    padding-top 40.25%
    height 0
    @extends .material-shadow-inset-bottom;
    &:before
        position absolute
        content: ""
        z-index: -1
        top 0
        left 0
        width 100%
        height 100%
        margin-top 0
        object-fit: cover 
        background-color: rgba(13,13,13,.13)
    .cover-img
        position absolute
        z-index: -2
        top 0
        left 0
        width 100%
        height 100%
        margin-top 0
        object-fit: cover
        background-color: white 
    .cover-fit
        object-fit: contain

.title-container
    position: absolute
    bottom: 30px
    text-align: center
    width: 100%;
    h1
        font-suit-slogan()
        display: inline-block
        color: white
        font-size:  4rem;
    .detail
        text-align: inherit
        color:white
        .tag-link
            background-color:transparent
            border:1px solid white
            color:inherit
            &:hover
                color:color-black
                background-color: white
                box-shadow: none
  

.headerlink
    display: none;


@media screen and (max-width:700px)
    .title-with-img
        padding-top 56.25%
    .title-container
        h1
            font-size: 1.3rem
            line-height: 1