////////////////////////////////////////////////////////
//          Page's footer 
//////////////////////////////////////////////////////////
body>footer
    position: fixed
    bottom: 0
    box-sizing: border-box;
    padding: 3rem 0 2rem;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: color-theme-dark
    clearfix()
    @extends .not-select;
    h1,h2,h3,h4,h5
        color: black
.footer-content
    position: absolute;
    bottom: 3rem;
    width: 100%;
footer-link()
    a
        no-link-effect()
        margin:0 .67em
        color:black
        padding: 0
        &:hover
            text-decoration: underline
       


.footer-nav
    text-align: center
    box-sizing: border-box
    margin-bottom: 3rem
    li
        list-style: none
        display: inline-block
        margin-bottom: 10px
        a
            background: black
            color:color-theme
            &:hover
                text-decoration: underline
                &:before
                    display: none
                
.friends-link
    box-sizing: border-box
    text-align: center
    margin-bottom: 3rem
    footer-link()
    p
        text-align: center
.footer-info    
    text-align: center
    color: color-theme
    background-color: black
    padding: 16px
    a
        no-link-effect()
        color: inherit
        padding: 0
        &:hover
            text-decoration: underline
           
