////////////////////////////////////////////////////////
//          Page's footer 
//////////////////////////////////////////////////////////
body>footer
    position: fixed
    bottom: 0
    box-sizing: border-box;
    padding: 3rem 0 2rem;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: color-theme-dark
    clearfix()
    @extends .not-select;
    h1,h2,h3,h4,h5
        color: color-black
@font-face {
    font-family: DawningofaNewDay
    src: url(/fonts/DawningofaNewDay.ttf) 
}
.calligraph
    h1
        text-align: center
        font: 300 48px DawningofaNewDay 
    .display-content
        display: block
    .hide-content
        display: none

@media screen and (max-width:768px)
    .calligraph 
        .display-content
            display: none
        .hide-content
            display: block

.footer-content
    position: absolute;
    bottom: 3rem;
    width: 100%;
footer-link()
    a
        no-link-effect()
        margin:0 .67em
        color:color-black
        padding: 0
        &:hover
            text-decoration: underline
       


.footer-nav
    text-align: center
    box-sizing: border-box
    margin-bottom: 1rem
    li
        list-style: none
        display: inline-block
        margin-bottom: 10px
        a
            background: color-black
            color:color-theme
            &:hover
                text-decoration: underline
                &:before
                    display: none
.social-links    
    footer-link()
    text-align: center
.friends-link
    box-sizing: border-box
    text-align: center
    margin-bottom: 2rem
    footer-link()
    p
        text-align: center
    h1
        font-weight: normal
.footer-info
    text-align: center
    color: color-theme
    background-color: color-black
    padding: 16px
    a
        no-link-effect()
        color: inherit
        padding: 0
        &:hover
            text-decoration: underline
           
