//////////////////////////////////////////////////////////
//           Pagination
///////////////////////////////////////////////////////////
.pagination
    @extends .not-select;
    margin: 2rem 0 3rem;
    text-align: center;
    ul
        list-style: none;
        display: inline-block;
    li
        display: inline-block;
        margin: 5px;
    a
        position: relative;
        link()
    span
        padding: 2px 8px
        margin: 0 5px;
        float: none;
    .active
        text-decoration: none;
        pointer-events: none;
    .disabled
        cursor: default;
        pointer-events: none;
        text-decoration: line-through;


