///////////////////////////////////////////////////////////
//          Homepage's big slogan
///////////////////////////////////////////////////////////
.impression-background
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

.first-impression
    position: relative;
    text-align: left;
    padding: 0 
    margin: 0 60px
    transform-style: preserve-3d;
    box-shadow:0 8px 12px -3px rgba(0,0,0,0.23), 0 20px 66px -28px rgba(0, 0, 0, 0.16)
    // background: url("../img/yellow-metal.jpg") top center;
    //background-size: 100%;
    h1
        color: inherit
        font-size: 7rem;
        white-space: pre;
        font-family: Arial, Helvetica, tahoma, verdana, '宋体', SimSun, '华文细黑', STXihei, sans-serif;

.impress-words
    //margin-top: -100%;
    color: #fff;
    padding: 1rem 0 2rem 16px;

@media screen and (max-width:768px)
    .first-impression
        background: color-theme-dark;
        padding: 2rem 0;
        margin: 0 
        text-align: left
        h1
            font-size: 2rem
            span
                color: color-theme-dark
                background-color: color-black
                padding: 5px 0
    .impress-words
        padding: 2rem;


