<section class="about-wrapper">
 <div class="title-no-img">
    <div class="title">
          <h1>About</h1>
    </div>
  </div>
  <div class="about-content center-wrapper">
    <h1>陶 楷<br/>Tao kai</h1>
    <p>我是一名WEB前端开发者，目前还在读大学，喜欢看书，喜欢有设计感的东西。</p>
    <p>I'm a web front-end developer, a college student. I'm a "greedy" book reader and I love everything that is well-designed.</p>
    <p>在我小的时候，我看了一部电影叫《阿波罗13号》，里面总是提到一个关键词「Procedure」，让我看到了程序的强大，能够连接外太空和人类</p>
    <p>This is <a href="https://www.heitaov.cn">My Personal Site</a>,for deploying web applications.</p>
  </div>
</section>
