<section class="about-wrapper">
 <div class="title-no-img">
    <div class="title typewriter">
          <h1>About</h1>
    </div>
  </div>
  <div class="about-content center-wrapper">
    <h1>陶 楷<br/>Tao kai</h1>
    <p>我是一名WEB前端开发者，目前还在读大学，喜欢看书，喜欢有设计感的东西。</p>
    <blockquote><p>I'm a web front-end developer, a college student. I'm a "greedy" book reader and I love everything that is well-designed.</p></blockquote>
    <p>在我小的时候，我看了一部电影叫《阿波罗13号》，里面总是提到一个关键词「Procedure」，那时候就在想，到底什么是「程序」？从那时起，我就希望自己能够为航天工具编写程序。几年后，我就去读了软件工程专业，学到了很多关于软件的东西。在我看来，程序的目的就应该为了解决某个重复操作的实际问题，在物联网时代，「程序」的强大能力将会慢慢展现在全世界面前。</p>
    <blockquote><p>When I was young, I watched a movie, <i>Apollo 13</i>.There was a keyword "Procedure" mentioned so many times. At that time, I was wondering what's the "procedure". Since then, I have been hoped to program procedure for space vehicle. Several years later, I was majored in Software Engineering and learned many stuff about software. In my view, the purpose of procedure is to resolve the problem which is repeatable and practical. The Internet of Things Era will bring the power of the "procedure" to audiences around the world.</p></blockquote>
    <p>在我高中的时候，史蒂文·乔布斯的名字便开始在大众间传开，他的产品改变了全世界。只要是好的东西，大家就一定会买账的。我也希望自己也能做出自己好的产品出来，不求改变世界，但求改变生活。</p>
    <blockquote><p>When I was in senior high school, Steve Jobs became one of the household names, whose creative product changed the whole world. People will accept everything good. I hope I can make a good product that do not seek to change the world, but to change my life.</p></blockquote>
    <p>团队能够做到个人无法做到的事情，我希望自己能够在一个创新型的团队里面，大家一起做出有趣好玩的东西出来。如果你有和我一样的想法，可以给我发送邮件。</p>
    <blockquote><p>A team is more capable than individual. I wish I have (or be in) a creative team and make some interesting stuff together. If you have the same idea, you may get contact with me via email.</p></blockquote>
    <h1>Other stuff</h1>
    <p><a href="https://vankai.github.io/resume" target="_blank" >我的简历(中文)</a><br><a href="https://vankai.github.io/resume/index-en.html"  target="_blank" >My Resume(English)</a></p>
    <p><a href="https://www.heitaov.cn">www.heitaov.cn</a>:for deploying web applications</p>
    <p><%- mail_to("mr.taokai@foxmail.com")%>:My Email Address</p>
    <p><a href="https://github.com/vankai/" title="Click to open a new page" target="_blank" rel="noopener">My GitHub</a><a href="https://coding.net/u/tomato3" title="Click to open a new page" target="_blank" rel="noopener">My Coding.net</a></p>
  </div>
</section>
