<section class="archive-list-wrapper">
  <div class="title-no-img">
    <div class="title typewriter">
          <h1>TAGS</h1>
    </div>
  </div>
 <div class="tags-list">
  <%- list_tags({show_count: true}) %>
 </div>
</section>
