<%- partial('parts/archive_list', {where: "archive"}) %>
<section class="center-wrapper">
  <h1 class="text-center title" ><%- theme.archive_type==="monthly"?"Months":"Years"%> Below</h1>
  <%- list_archives({show_count: true, type: theme.archive_type}) %>
</section>
