<%- partial('parts/firstimpression')%>
<a href="javascript:;" id="naved-link"></a>
<section class="center-wrapper article-index">
  <% page.posts.each(function(post){ %>    
    <%- partial('parts/articlenutshell', {post: post}) %>
  <% }) %>
  <% if (page.total > 1){ %>
    <nav class="pagination">
        <%- paginator({
          prev_text: "&laquo;"+ __('prev'),
          next_text: __('next') +" &raquo;",
          format: 'page/%d/index.html#naved-link'
        }) %>
    </nav>
  <% } %>
</section>
