<%- partial('parts/head') %>

    <body>
        <div class="main-wrapper">
            <%- partial('parts/header', null, {cache: config.relative_link}) %>

                <%- body %>

            <%- partial('parts/footer', null, {cache: !config.relative_link}) %>
        </div>
        <!-- 曾经有个小偷潜入某神秘机构，偷出机密代码的最后一页，打开一看。

                                      });
                                  });
                              });
                          });
                      });
                  });
              });
          });
      });
  }); -->
    </body>

    </html>
