<section class="oops-section">
<div class="title-no-img">
    <div class="title">
          <h1>Sorry!<br>You are offline</h1>
    </div>
  </div>
<div>
  <p class="text-center"><button><a href="javascript:history.back(-1)">Go Back</a></button></p>
</div>
</section>