<%- partial('parts/articleintro' , {post: page, index: false}) %>


<article class="center-wrapper article">
    <%- page.content %>
</article>

<section class="summary center-wrapper">
    <p class="text-center">
        <a class="action-back" href="javascript:var a = history;a.length>=2?a.back(-1):location.href='/';" title="Return to List or Jump to Homepage">BACK</a>
    </p>
</section>


