
//////////////////////////////////////////////////////////////////////////
//              Hexo Default
//////////////////////////////////////////////////////////////////////////

.highlight
    background: #2d2d2d;
    margin: 0 -20px;
    padding: 15px 20px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    overflow: auto;
    color: #ccc;
    line-height: 22.400000000000002px;
    pre
        border: none;
        margin: 0;
        padding: 0;
    figcaption
        font-size: 0.85em;
        color: #999;
        line-height: 1em;
        margin-bottom: 1em;

.gutter pre
    text-align: right;
    padding-right: 20px;

.highlight .gutter pre
.line-numbers
    color: #666;
    font-size: 0.85em;

.highlight figcaption a
    float: right;


pre
    .header
    .inheritance
    .ruby .symbol
    .string
    .value
    .xml .cdata
        color #9c9
    .comment
    .title
        color #999
    .built_in
    .constant
    .literal
    .number
    .params
    .preprocessor
        color #f99157
    .javascript .function
    .keyword
        color #c9c

.pullquote
    text-align left;
    width 45%;
    margin 0;

blockquote
    border-left color-gray 6px solid;
    padding-left .5em;
    color lighten(color-text, 10%);
    font-size 1.4em;
    margin 1.6em 20px 1.6em 0;
    text-align center;
    footer
        font-size 14px;
        margin 1.6em 0;
        font-family "Helvetica Neue", Helvetica, Arial, sans-serif
        cite:before
            content "—"
            padding 0 0.5em

.pullquote.left
    margin-left: 0.5em;
    margin-right: 1em;

.pullquote.right
    margin-right: 0.5em;
    margin-left: 1em;

code
    background: #eee;
    text-shadow: 0 1px #fff;
    padding: 0 0.3em;

hr
    border: 1px dashed #ddd;

dt
    font-weight: bold;

dd
dt
    margin-left: 1em;


td
    border-bottom: 1px solid #ddd;
    padding: 10px 0;

.article
.brief
    &>dl
    &>ol
    &>ul
        margin 1.6em 1.2em

abbr
acronym
    border-bottom 1px dotted

table
    width: 100%

th
    font-weight: bold
    border-bottom: 3px solid #ddd
    padding-bottom: 0.5em

caption
td
th
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
