<section class="first-impression">
    <div class="impress-words">
        <h1>make things done</h1>
        <h2>最好的设计就是让人察觉不到设计</h2>
        <p class="text-center">
            查看
            <a href="https://heitaov.cn" target="_blank" class="link">我的网站</a> or
            <a href="#" class="link">简历(*)</a>
        </p>
    </div>
</section>
