<section class="first-impression material-shadow-inset-bottom">
    <img class="impression-background" src="../img/yellow-metal.jpg" alt="bg">
    <div class="impress-words">
      <!-- 曾因酒醉鞭名马，生怕情多累美人。 -->
        <h1><span><%- config.impression%></span></h1>
    </div>

</section>
