<section class="first-impression">
    <img class="impression-background" src="../img/yellow-metal.jpg" alt="bg">
    <div class="impress-words">
      <!-- 曾因酒醉鞭名马，生怕情多累美人。 -->
        
        <h1>「倘只看书<br>   便变成书橱」</h1>
        <!--<p> 查看 <a href="https://heitaov.cn" target="_blank" class="link">我的网站</a> or <a href="#" class="link">简历(*)</a> </p>-->
    </div>

</section>
