<section class="first-impression">
    <div class="impress-words">
        <h1>Stay hungry, stay foolish.</h1>
        <h2>既然命运给自己开启了Hard模式,抱怨还不如行动.</h2>
        <p class="text-center">
            查看
            <a href="https://heitaov.cn" target="_blank" class="link">我的网站</a> or
            <a href="#" class="link">简历(*)</a>
        </p>
    </div>
</section>
