<footer class="material-shadow-inset-top">
  <div class="outer">
    <div id="footer-info" class="inner text-center">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>
