<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%
    var title = page.title;

    if (is_archive()){
      title = __('archive_a');

      if (is_month()){
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()){
        title += ': ' + page.year;
      }
    } else if (is_category()){
      title = __('category') + ': ' + page.category;
    } else if (is_tag()){
      title = __('tag') + ': ' + page.tag;
    }
    %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
    <% if (config.highlight.enable){ %>
      <link href="//fonts.useso.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
    <% } %>
    <%- css('css/style-common') %>
        <%- css('css/highlight') %>
</head>
